.menu-card {
    background-color: #1a1a1a;
    border-radius: 12px;
    overflow: hidden;
    width:100%;
    max-width:260px;
}
.menu-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}
.menu-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.menu-content {
    padding: 15px;
    text-align:center;
}
.dish-name {
    font-size: 18px;
    margin-bottom: 8px;
}
.price {
    color: orange;
    margin-bottom: 12px;
    font-weight:bold;
}
.order-btn {
    background-color: orange;
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.order-btn:hover {
    background-color: darkorange;
    transform: scale(1.05);
}
.qty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
}
.qty-container button {
    width: 32px;
    height: 32px;
    border: none;
    background-color: orange;
    color: black;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.qty-container button:hover {
    background-color: darkorange;
    transform: scale(1.1);
}
.qty-container p {
    font-size: 16px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}
@media screen and (max-width: 480px) {
    .menu-card {
        max-width: 100%;  
    }
    .menu-image {
        height: 160px;
    }

    .dish-name {
        font-size: 16px;
    }

    .price {
        font-size: 14px;
    }
}
@media screen and (min-width: 1024px) {
    .menu-card {
        min-width:400px;
        /* max-width: 260px; */
    }

    .menu-image {
        height: 200px;
    }
}
@media screen and (min-width: 768px) {
    .menu-card {
        max-width: 220px;
    }

    .menu-image {
        height: 180px;
    }
}
